In [1]:
import pandas as pd

In [2]:
all = pd.read_csv("rosstat_salary_ru.csv")

In [4]:
all

              region_name  salary
0          Алтайский край   25960
1        Амурская область   43156
2   Архангельская область   47526
3    Астраханская область   32166
4    Белгородская область   31163
..                    ...     ...
80   Чеченская Республика   26108
81   Чувашская Республика   27028
82           Чукотский АО   96930
83      Ямало-Ненецкий АО   86560
84    Ярославская область   33882

[85 rows x 2 columns]

In [7]:
picked = all[~all.region_name.isin(["Рязанская область", "Свердловская область", "Чеченская Республика", "Ростовская область"])]
picked

In [12]:
picked = picked.sort_values(by = "salary")
picked

                        region_name  salary
49              Республика Дагестан   24550
17  Кабардино-Балкарская Республика   25318
50             Республика Ингушетия   25663
21  Карачаево-Черкесская Республика   25699
51              Республика Калмыкия   25719
..                              ...     ...
34                      Ненецкий АО   77277
10                        г. Москва   78946
83                Ямало-Ненецкий АО   86560
82                     Чукотский АО   96930
31                 Магаданская обл.  101662

[81 rows x 2 columns]

In [14]:
picked.index = range(1,len(picked)+1)
picked

                        region_name  salary
1               Республика Дагестан   24550
2   Кабардино-Балкарская Республика   25318
3              Республика Ингушетия   25663
4   Карачаево-Черкесская Республика   25699
5               Республика Калмыкия   25719
..                              ...     ...
77                      Ненецкий АО   77277
78                        г. Москва   78946
79                Ямало-Ненецкий АО   86560
80                     Чукотский АО   96930
81                 Магаданская обл.  101662

[81 rows x 2 columns]

In [17]:
picked.loc[[3,37,73]]

                   region_name  salary
3         Республика Ингушетия   25663
37              Омская область   32013
73  Ханты-Мансийский АО (Югра)   62555

In [18]:
picked.salary.mean()

39199.39506172839

In [19]:
picked.salary.median()

33086.0